{% extends 'base.html.twig' %}

{% block pageTitle %}Nurls  {% endblock %}

{% block body %}

    <div id="headerTable" style="display: flex" >
        <section>
            <h1>Nurls list</h1>
        </section>
        <section style="text-align: right">

        </section>

    </div>

    <table style="text-align: center">

        {# Table head #}
        <thead>

            <tr>

                <th>Id</th>

                <th>Url</th>

                <th>Title</th>

                <th>Content</th>

                <th>Upvote</th>

                <th>Downvote</th>

                <th>Actions</th>

            </tr>

        </thead>

        <tbody>

        {# Show all nurls #}
        {% for nurl in nurls %}

            {# Show the nurls only if they're defined as public #}
            {% if nurl.public == '' %}

                {# -------- NURL table ---------#}
                <tr>

                    <td><a href="{{ path('nurl_show', { 'id': nurl.id }) }}">{{ nurl.id }}</a></td>

                    <td>{{ nurl.url }}</td>

                    <td>{{ nurl.title }}</td>

                    <td>{{ nurl.content }}</td>

                    <td>{{ nurl.upvote }}</td>

                    <td>{{ nurl.downvote }}</td>

                    {# CRUD options #}
                    <td>
                        <ul>

                            <li>
                                <a href="{{ path('nurl_show', { 'id': nurl.id }) }}">show</a>
                            </li>

                            <li>
                                <a href="{{ path('nurl_edit', { 'id': nurl.id }) }}">edit</a>
                            </li>

                        </ul>
                    </td>

                </tr>

            {% endif %}

        {% endfor %}

        </tbody>

    </table>

    <ul>
        <li>
            <a href="{{ path('nurl_new') }}">Create a new nurl</a>
        </li>

        {#<li>#}
            {#<form action="{{ path('nurl_search') }}" method="post">#}
                {#<input type="text" id="search" placeholder="Search" value="{{  }}">#}
                {#<input type="submit" value="Search">#}
            {#</form>#}
        {#</li>#}
    </ul>
{% endblock %}
