{% extends 'base.html.twig' %}


{% block pageTitle %}Account{% endblock %}

{% block body %}


    <h1>{{ app.user.username }}'s profile</h1>

    {{ dump() }}

    <div style="display: flex">

        <section>

            <h3>These are your nurls</h3>

            <table>

                {% for nurl in nurls  %}

                    <tr>
                        <td>

                            <a href="{{ path('nurl_edit', { 'id': nurl.id }) }}">{{ nurl.title }}</a>

                        </td>
                    </tr>

                {%  endfor %}

            </table>

        </section>

        <hr>

        <section>

            <h3>These are your collections</h3>

            <table>

                {% for collection in collections %}

                    <tr>
                        <td>

                            <a href="{{ path('collection_edit', { 'id': collection.id }) }}">{{ collection.title }}</a>

                        </td>
                    </tr>
                {%  endfor %}

            </table>

        </section>

        <hr>

        <section>

            <h3>These are your tags</h3>

            <table>

                {% for tag in tags %}

                    <tr>
                        <td>

                            <a href="{{ path('tag_edit', { 'id': tag.id }) }}">{{ tag.tag }}</a>

                        </td>
                    </tr>
                {%  endfor %}

            </table>

        </section>

    </div>

{% endblock %}