{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.username }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Is active</th>
                <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Roles</th>

                {% for roles in user %}

                <td>{{ user.roles }}</td>

                {% endfor %}
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endif %}

    <div style="display: flex">

        <section>

            <h3>These are your nurls</h3>

            <table>

                {% for nurl in nurls  %}

                    <tr>
                        <td>

                            <a href="{{ path('nurl_edit', { 'id': nurl.id }) }}">{{ nurl.title }}</a>

                        </td>
                    </tr>

                {%  endfor %}

            </table>

        </section>

        <hr>

        <section>

            <h3>These are your collections</h3>

            <table>

                {% for collection in collections %}

                    <tr>
                        <td>

                            <a href="{{ path('collection_edit', { 'id': collection.id }) }}">{{ collection.title }}</a>

                        </td>
                    </tr>
                {%  endfor %}

            </table>

        </section>

        <hr>

        <section>

            <h3>These are your tags</h3>

            <table>

                {% for tag in tags %}

                    <tr>
                        <td>

                            <a href="{{ path('tag_edit', { 'id': tag.id }) }}">{{ tag.tag }}</a>

                        </td>
                    </tr>
                {%  endfor %}

            </table>

        </section>

    </div>
{% endblock %}
