
{% extends 'base.html.twig' %}


{% block pageTitle %}Collections {% endblock %}

{% block body %}

{% set collection_nurls = app.session.get('collection') %}

{{ dump(app.session.get('collection')) }}


    {% if collection_nurls is null %}
        <p>
            you have no nurls in your collection
        </p>
        {% else %}
<ul>
{% for nurl in collection_nurls %}
<li>
    <hr>
        id = {{ nurl.id }}
    <br>
    nurl url = {{ nurl.url }}
    <br>
    nurl title = {{ nurl.title }}
    <br>
    credits = {{ nurl.content }}
    <br>
    <a href="{{ path('nurls_collection_delete', { 'id': nurl.id }) }}">(remove)</a>
</li>
{% endfor %}
</ul>
    {% endif %}
    <p>
        <a href="{{ path('nurls_collection_clear') }}">CLEAR all items in collection</a>
    </p>
{% endblock %}